.filters {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 28px;
}

.filter-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
}

.filter {
  background-color: white;
  border: #d9d8da 2px solid;
  border-radius: 50px;
  display: flex;
  align-items: center;
  overflow: visible;
  height: 40px;
  padding-right: 8px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.filter:focus {
  border: #0065fc 2px solid;
  background-color: #f2f2f2;
}

.filter i {
  color: #0065fc;
}

.filter-icon {
  background-color: #deebff;
  padding: 12px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: -8px;
  margin-right: 8px;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .filters {
    display: block;
  }

  .filter-buttons {
    margin-top: 16px;
  }
}
