footer {
  background-color: #f2f2f2;
  height: fit-content;
  padding: 32px;
  display: flex;
  justify-content: flex-start;
}

.footer-col {
  margin-right: 18%;
}

.footer-col ul {
  list-style-type: none;
  padding: 0px;
}

.footer-col li {
  margin-bottom: 12px;
}

@media screen and (max-width: 992px) {
  .footer-col {
    margin-right: 10%;
  }
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }

  .footer-col {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
